.bank-partner {
	margin-top: 80px;
	margin-bottom: 60px;

	&__inner {
		display: flex;
		flex-direction: column;
		border-radius: 20px;

		@media screen and (max-width: 500px) {
			padding-right: 0;
			padding-left: 0;
			box-shadow: none;
		}

		@media screen and (max-width: 400px) {
			position: relative;
			left: 50%;
			width: 100vw;
			transform: translateX(-50%);
		}
	}

	&__title {
		margin-left: 15px;
	}

	&__banks {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		@include adaptiv-value(gap, 16, 10, 1);

		@media screen and (max-width: 500px) {
			margin-right: auto;
			margin-left: auto;
			gap: 10px;
		}
	}

	&__bank {
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 40px;
		width: 188px;
		height: 52px;
		box-shadow: 0 3.256px 13.187px 0 rgba(0, 0, 0, 0.09);
		background-color: var(--white);
		cursor: pointer;
	}

	&__btn-show {
		display: none;
		@media screen and (max-width: 688px) {
			display: flex;
			justify-content: center;
			padding: 22px 0;
			background-color: var(--btn-bkg);
			cursor: pointer;
		}
	}

	&__btn-show__text {
		margin-right: 5px;
		font-weight: 500;
		font-size: 15px;
		line-height: 130%;
		color: var(--red);
	}
}
