.present {
	position: fixed;
	left: 15px;
	bottom: 120px;
	z-index: 100;
	display: flex;
	flex-direction: column;

	&__btn {
		text-align: left;
		background-color: transparent;
	}

	&__btn-desktop {
		position: relative;
		left: 0;
		margin-left: 10px;
		cursor: pointer;

		@media screen and (max-width: 555px) {
			display: none;
		}
	}

	&__btn-mobile {
		display: none;

		@media screen and (max-width: 555px) {
			display: block;
			cursor: pointer;
		}
	}

	&__icon {
		border: 10px solid var(--white);
		border-radius: 5px;
		background-color: var(--white);
		cursor: pointer;

		@media screen and (max-width: 555px) {
			border: none;
			border-radius: 0;
			background-color: transparent;
		}
	}

	&__icon-desktop {
		@media screen and (max-width: 555px) {
			display: none;
		}
	}

	&__icon-mobile {
		display: none;

		@media screen and (max-width: 555px) {
			display: block;
		}
	}
}
