.report{
	z-index: -100;
	display: none;
	padding: 0 10px;
	transition: all 0.3s ease;
	inset: 0;

	.report-modal{
		position: fixed;
		right: 0;
		top: 72px;
		z-index: 500;
		overflow-y: scroll;
		border-top: 1px solid #e0e2e8;
		width: 100%;
		height: 100%;
		background: #ffffff;
		pointer-events: auto;

		@media (min-width: 1200px){
			left: calc(50% - 590px);
			top: 0;
			width: 1180px;
			height: 100%
		}
	}

	.heading-group {
		display: flex;
		justify-content: space-between;
		margin-bottom: 16px;
	}

	.heading-group__label {
		color: #919399
	}

	.heading-group--modal {
		align-items: flex-start;
		border-bottom: 1px solid #e0e2e8;
		padding: 16px
	}

	.modal__options {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 16px;
		border-bottom: 1px solid #e0e2e8;
		padding: 0 16px 16px
	}

	.modal__wrap {
		padding: 0 16px 160px
	}

	.heading--h3 {
		margin-bottom: 8px;
		font-weight: 600;
		font-size: 16px;
		line-height: 24px;
		letter-spacing: 3%
	}

	.modal__close {
		position: relative;
		right: auto;
		top: -4px;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 48px;
		height: 48px;
		background-color: var(--white);
	}

	.modal__close-icon {
		fill: #171719;
		transition: .2s cubic-bezier(.37,0,.63,1)
	}

	.modal__close:hover .modal__close-icon {
		fill: #eb1d24;
		transition: .2s cubic-bezier(.37,0,.63,1)
	}


	.button__icon {
		width: 16px;
		aspect-ratio: 1/1
	}

	.modal__buttons {
		display: flex
	}

	.button {
		position: relative;
		display: block;
		padding: 12px 24px;
		font-weight: 600;
		font-size: 16px;
		line-height: 24px;
		text-align: center;
		color: #ffffff;
		background-color: transparent;
		transition: .2s cubic-bezier(.37,0,.63,1)
	}
	
	.modal__buttons .button {
		margin-top: 0
	}

	.modal__buttons .button:not(:last-child) {
		margin-right: 16px
	}

	.button--action {
		display: flex;
		flex-shrink: 0;
		align-items: center;
		justify-content: center;
		padding: 16px;
		width: 48px;
		height: 48px
	}

	.button--action.button--more,.button--option {
		border: 1px solid #e6e8ec;
		background: transparent
	}

	.button--action .button__icon {
		width: 19px
	}

	.button.button--link {
		width: max-content;
		color: #eb1d24;
		background: #ffe9eb
	}

	.button.button--link:hover {
		opacity: .5
	}

	.button--link .icon {
		width: 16px;
		height: 16px;
		fill: #eb1d24
	}

	.button--link .button__text {
		color: #eb1d24
	}

	.button--download .button__text {
		display: block
	}

	.features .heading--h3,.features__item {
		margin-bottom: 8px
	}

	.features__group {
		margin-bottom: 24px
	}

	.heading {
		margin-top: 0;
		margin-bottom: 12px
	}

	.heading-group .heading {
		margin-bottom: 12px
	}

	.features__indicator {
		display: flex;
		align-items: flex-start
	}

	.features__indicator::before {
		content: "";
		position: relative;
		top: 8px;
		display: block;
		flex-shrink: 0;
		margin-right: 8px;
		border-radius: 50%;
		width: 8px;
		height: 8px
	}

	.features__item-type {
		margin-right: 8px;
		color: #919399
	}

	.features__indicator--clean::before {
		background-color: #0dc268
	}

	.features__item {
		display: flex;
		align-items: center
	}

	&.active{
		position: fixed;
		z-index: 200;
		display: block;
		overflow-y: auto;
		width: 100%;
		height: 100%;
		background-color: #171719;
		transition: opacity .3s;
		inset: 0;

		.report-modal{
			animation-name: show_modal;
			animation-duration: 0.7s;
			animation-timing-function: ease;
			animation-fill-mode: forwards;
		}
	}

	@media(max-width: 320px) {
		.heading-group--modal>* .heading-group__label {
			display: block;
			overflow: hidden;
			width: 100%;
			max-width: 100%;

			// white-space:nowrap;
			// text-overflow: ellipsis
		}
	}
	@media(min-width: 768px)and (max-width:1199px) {
		.modal__options {
			margin-bottom:32px
		}

		.modal--choose-car .modal__options {
			justify-content: center
		}

		.modal__wrap {
			margin: 0
		}

		.modal--makes .modal__wrap,.modal--menu .modal__wrap {
			margin:auto;
			padding-right: 0;
			padding-left: 0
		}
	}

	@media(min-width: 1200px) {
		.modal__options {
			padding: 0 32px 16px
		}

		.modal__wrap {
			padding: 16px 24px 48px
		}

		.modal--menu .modal__wrap {
			padding: 32px 0 0
		}
	}

	@media(max-width: 767px) {
		.button--action {
			padding:12px;
			min-width: 48px
		}

		.button--text {
			width: auto
		}

		.report-modal .heading-group--modal {
			top: 0
		}

		.report-modal .heading-group--modal,.report-modal .modal__options {
			// position: fixed;
			// z-index: 250;
			width: 100%;
			background: #ffffff
		}

		.report-modal .modal__options {
			// top: 97px;
			padding-top: 16px
		}

		.report-modal .heading-group__wrap {
			overflow: hidden;
			max-width: calc(100% - 56px)
		}

		.report-modal .heading-group__wrap .heading {
			overflow: hidden;
			max-width: 100%;

			// white-space: nowrap;
			// text-overflow: ellipsis
		}
	

		.report-modal .heading-group--form .heading-group__wrap {
			max-width: 100%
		}

		// .modal__wrap {
		// padding-top: 113px
		// }

		// .modal__options~.modal__wrap {
		// padding-top: 194px
		// }
	}

	@media(min-width: 768px) {
		.heading-group--h1 {
			grid-column: span 8;
			margin-bottom:0
		}

		.heading-group__wrap {
			flex-shrink: 0;
			max-width: 100%
		}

		.heading-group--modal {
			padding: 32px 32px 24px
		}

		.button__text {
			display: block
		}

		.button {
			padding: 12px 32px
		}

		.modal--menu .modal__wrap {
			padding-top: 0
		}

		.heading--h3 {
			margin-bottom: 16px
		}

		.report-modal {
			top: auto;
			bottom: -10px;
		}

		.modal__close-icon {
			width: 32px;
			height: 32px
		}
	}

	@media(min-width: 1200px) {
		.features--complect,.features__list--column {
			display:grid;
			grid-template-columns: 1fr 1fr
		}
	}
}